<%= simple_form_for @store do |f| %>
  <%= f.input :name %>
  <%= f.input :location, input_html: { id: 'coordinatesStore' } %>
    <span>Add current location</span>
    <button type="button" class="btn btn-default add-button">
      <span class="glyphicon glyphicon-plus"></span> 
    </button><button onclick="document.getElementById('coordinatesStore').value = ''" type="button" class="btn btn-primary clear-button">clear</button><br>
  <%= f.button :submit, "Save Spaeti", class: "save-button" %>

<% end %>

